<!DOCTYPE html>
<html>
<head>
    <title>Rule-Based Chatbot</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to the Chatbot Interface</h1>
    <button onclick="window.location.href='/about/shubhang'">Shubhang</button>
    <button onclick="window.location.href='/about/infutrix'">Infutrix</button>
    <hr>
    {% if message %}
        <p>{{ message }}</p>
        {% if link %}
            <a href="{{ link }}" target="_blank">Visit External Link</a>
        {% endif %}
    {% endif %}
</body>
</html>
